.nav{
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    a{
        text-decoration: none;
    }
}
.logo{
    color: black;
}
.button{
    color: white;
    background-color: black;
    box-shadow: 2px 2px 5px black;
    border: none;
    padding: 10px;
    font-size: 16px;
}